* {
    background-color: #E8E8CC;
}

a:visited{
    color: #FF5151;
}

/* If the link is not visited by default it is blue in color */
a:link{
    color: #864879;
}


/* After clicking on the link if we have not release the mouse then it is in active state */
a:active{  
    color: #3E7C17;
}

a:hover{
    color: #000D6B;
}